.pear-social-entrance {
	position: fixed;
	bottom: 2.50rem;
	right: 2.50rem;
	z-index: 9999;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #5FB878;
	border-radius: 50px;
	box-shadow: 0px 0px 10px gray;
	color: whitesmoke;
	font-size: 23px;
}

.pear-social {
	width: 1000px;
	height: 550px;
	top: 120px;
	left: 250px;
	background-color: whitesmoke;
	position: absolute;
	overflow: hidden;
	z-index: 9999999;
	box-shadow: 0px 0px 6px  rgba(0, 0, 0, .15);
}

.pear-social .pear-social-side {
	width: 60px;
	height: 100%;
	position: absolute;
	background-color: #28333E;
}

.pear-social .pear-social-list {
	width: 240px;
	height: 100%;
	position: absolute;
	margin-left: 60px;
	background-color: lightgray;
	
}

.pear-social .pear-social-body {
	width: calc(100% - 300px);
	height: 100%;
	margin-left: 300px;
	position: absolute;
	background-color: whitesmoke;
}

.pear-social .pear-social-body .pear-social-body-header {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ececec;
}

.pear-social .pear-social-body .pear-social-body-header .title {
	position: absolute;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 22px;


}

.pear-social .pear-social-body .pear-social-body-content {
	width: 100%;
	height: calc(100% - 60px);
}


.pear-social .pear-social-body .window-tool {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.pear-social .pear-social-body .window-tool a {
	color: black;
	margin-right: 5px;
}

.pear-social .pear-social-body .window-tool a:hover {
	color: black;
}

.pear-social .pear-social-side .pear-social-avatar {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
}

.pear-social .pear-social-side .pear-social-avatar img {
	width: 36px;
	margin: 12px;
	border-radius: 4px;
}

.pear-social .pear-social-body-content .layui-tab {
	margin: 0px;
	height: 30px;
}

.pear-social .pear-social-body-content .layui-tab .layui-tab-title {
	height: 30px;
	line-height: 30px;
	background-color: whitesmoke;
}

.pear-social .pear-social-body-content .layui-tab .layui-tab-title li {
	height: 30px;
	line-height: 30px;
	background-color: whitesmoke;
	border-right: 1px whitesmoke solid;
}


.pear-social .pear-social-body-content .layui-tab-title .layui-this:after {
	display: none;
}

.pear-social .pear-social-body-content .layui-tab-title li .layui-tab-close:hover {
	border-radius: 50px;
	background-color: whitesmoke;
}

.pear-social .pear-social-side .pear-social-setting {
	width: 36px;
	height: 36px;
	margin: 12px;
	text-align: center;
	line-height: 36px;
	font-size: 21px;
	color: whitesmoke;
	bottom: 5px;
	position: absolute;
}

.pear-social .pear-social-side .pear-social-control {
	margin: 12px;
	width: 36px;
}

.pear-social .pear-social-side .pear-social-control div {
	font-size: 21px;
	color: whitesmoke;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-top: 10px;
}

.pear-social .pear-social-side .pear-social-control .layui-this {
	color: #5FB878;
}

.pear-social .pear-social-list .pear-social-list-header {
	height: 60px;
	width: 100%;
	background-color: #E2E2E2;
}

.pear-social .pear-social-list .pear-social-list-body {
	background-color: #E2E2E2;
	height: calc(100% - 60px);
	width: 100%;
}
.pear-social .pear-social-list .pear-social-list-body .layui-side-scroll{
	background-color: #E2E2E2;
}

.pear-social .pear-social-list .pear-social-list-header .search {
	height: 30px;
	margin-top: 15px;
	margin-left: 15px;
	width: 160px;
	position: absolute;
	display: inline-block;
	background-color: lightgray;
	border-radius: 4px;
	padding-left: 10px;
	border: none;
}

.pear-social .pear-social-list .pear-social-list-header .searchBtn {
	width: 30px;
	height: 30px;
	margin-top: 15px;
	margin-left: 5px;
	right: 15px;
	border-radius: 4px;
	position: absolute;
	background-color: lightgray;
	display: inline-block;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}

.pear-social .pear-social-list .pear-social-list-body .body {
	width: 100%;
}

.pear-social .pear-social-list .pear-social-list-body .body .body-item {
	height: 60px;
	line-height: 60px;
}

.pear-social .pear-social-list .pear-social-list-body .body .body-item .dot {
	border-radius: 30px;
	width: 10px;
	height: 10px;
	background-color: #D3D3D3;
	float: right;
	margin-top: 27px;
	margin-right: 20px;
}

.pear-social .pear-social-list .pear-social-list-body .body .body-item .dot.online {
	background-color: #5FB878;
}

.pear-social .pear-social-list .pear-social-list-body .body .body-item:hover {
	background-color: #D3D3D3;
}

.pear-social .pear-social-list .pear-social-list-body .body .body-item .body-item-avatar {
	width: 36px;
	height: 36px;
	margin-left: 12px;
}

.pear-social .pear-social-list .pear-social-list-body .body .body-split {
	padding-left: 15px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	color: dimgray;
	background-color: #D9D9D9;
}

.pear-social .pear-social-list .pear-social-list-body .body .body-item .body-item-name {
	margin-left: 20px;
}

/** 滚 动 条 样 式 */
.pear-social *::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}

.pear-social *::-webkit-scrollbar-track {
	background: transparent;
}

.pear-social *::-webkit-scrollbar-thumb {
	background: lightgray;
	border-radius: 10px;
}

.pear-social *::-webkit-scrollbar-thumb:hover {
	background: lightgray;
}

.pear-social *::-webkit-scrollbar-corner {
	background: #f6f6f6;
}

/*区分聊天*/
.pear-social .pear-social-body .pear-social-body-content .pear-social-body-content-chat {
	width: 100%;
	height: 65%;
	position: relative;
}

.pear-social .pear-social-body .pear-social-body-content .pear-social-body-content-input {
	width: 100%;
	height: 35%;
}

.pear-social-body-content-input-tool {
	border-top: 1px solid #ececec;
	height: 40px;
	width: 100%;
	line-height: 40px;
	padding-left: 22px;
}

.pear-social-body-content-input-tool a {
	margin-right: 15px;
}

.pear-social-body-content-input textarea {
	width: calc(100% - 22px);
	height: calc(100% - 90px);
	margin-left: 22px;
	background-color: whitesmoke;
	border: none;
	resize: none
}

.pear-social-body-content-input-enter {

	width: 80px;
	margin-right: 15px;
	border-radius: 3px;
	height: 25px;
	border: none;
	background-color: white;
	float: right;
}

.pear-social-body-content-input-enter:hover {
	background-color: #5FB878;
	color: white;
}

.content {
	position: absolute;
	width: calc(100% - 20px);
	margin: 10px;
	padding: 0px;
}

.me img {
	float: right;
	width: 34px;
	height: 34px;
	border-radius: 2px;
}

.me span {
	float: right;
	background: #9eea6a;
}

.me {
	margin-top: 10px;
	padding-right: 10px;
	display: block;
	clear: both;
	overflow: hidden;
	float: right;
	margin-bottom: 5px;
}

.me span {
	background: #9eea6a;
	padding: 7px;
	border-radius: 4px;
	margin: 0 10px;
	max-width: 80%;
	border: 1px solid #9eea6a;
	position: relative;
}

.me span:before {
	content: " ";
	position: absolute;
	top: 9px;
	right: 100%;
	border: 6px solid transparent;
	border-left-color: #9eea6a;
	right: inherit;
	left: 100%;
}

/*other*/
.other img {
	float: right;
	width: 34px;
	height: 34px;
	border-radius: 2px;
}

.other span {
	float: right;
	background: #9eea6a;
}

.other {
	margin-top: 10px;
	padding-left: 10px;
	width: 80%;
	display: block;
	clear: both;
	overflow: hidden;
	float: left;
	margin-bottom: 5px;
}

.other img {
	float: left;
}

.other span {
	background: #fff;
	padding: 7px;
	border-radius: 4px;
	float: left;
	margin: 0 10px;
	max-width: 80%;
	border: 1px solid #ededed;
	position: relative;
}

.other span:before {
	content: "";
	position: absolute;
	top: 9px;
	right: 100%;
	border: 6px solid transparent;
	border-right-color: #fff;
	right: inherit;
	right: 100%;
}
