<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codermy.myspringsecurityplus.admin.dao.DeptDao">

    <sql id="selectDeptVo">
        select d.dept_id,d.parent_id,d.dept_name,d.sort,d.status,d.create_time,d.update_time
        from my_dept d
    </sql>

    <select id="getFuzzyDept" resultType="com.codermy.myspringsecurityplus.admin.entity.MyDept">
        <include refid="selectDeptVo"/>
        <where>
            <if test="deptName != null and deptName != ''">
                AND d.dept_name like CONCAT('%', #{deptName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND d.status = #{status}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by d.sort
    </select>


    <select id="buildAll" resultType="com.codermy.myspringsecurityplus.admin.dto.DeptDto">
        select d.dept_id as id,d.parent_id,d.dept_name as title
            from my_dept d
        <where>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>


    <select id="selectDeptById" parameterType="integer" resultType="com.codermy.myspringsecurityplus.admin.entity.MyDept">
		select d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.status,
			(select s.dept_name from my_dept s where s.dept_id = d.parent_id) parent_name
		from my_dept d
		where d.dept_id = #{deptId}
	</select>

    <select id="checkDeptNameUnique" resultType="com.codermy.myspringsecurityplus.admin.entity.MyDept">
        <include refid="selectDeptVo"/>
        where dept_name= #{deptName} and parent_id = #{parentId} limit 1
    </select>

    <select id="selectChildrenDeptById" parameterType="integer" resultType="com.codermy.myspringsecurityplus.admin.entity.MyDept">
		select * from my_dept where find_in_set(#{id}, ancestors)
	</select>

    <select id="selectRoleDeptTree" parameterType="integer" resultType="com.codermy.myspringsecurityplus.admin.dto.DeptDto">
		select d.dept_id as id,d.parent_id,d.dept_name as title
		from my_dept d
			left join my_role_dept rd on d.dept_id = rd.dept_id
		where rd.role_id = #{id}
		order by d.parent_id
	</select>

    <update id="updateDeptChildren" parameterType="java.util.List">
        update my_dept set ancestors =
        <foreach collection="depts" item="item" index="index"
                 separator=" " open="case dept_id" close="end">
            when #{item.id} then #{item.ancestors}
        </foreach>
        where id in
        <foreach collection="depts" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateDept">
        update my_dept d
        <set>
            <if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
            <if test="deptName != null and deptName != ''"> `dept_name` = #{deptName},</if>
            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            update_time = #{updateTime}
        </set>
        where d.dept_id = #{deptId}
    </update>

    <update id="updateDeptStatus" parameterType="com.codermy.myspringsecurityplus.admin.entity.MyDept">
        update my_dept
        <set>
            <if test="status != null and status != ''">status = #{status},</if>
            update_time = #{updateTime}
        </set>
        where dept_id in (${ancestors})
    </update>

    <select id="selectNormalChildrenDeptById" parameterType="integer" resultType="int">
		select count(*) from my_dept where status = 1 and find_in_set(#{dept_id}, ancestors)
	</select>

    <select id="selectDeptCount" parameterType="com.codermy.myspringsecurityplus.admin.entity.MyDept" resultType="int">
        select count(1) from my_dept
        <where>
            <if test="deptId != null and deptId != 0"> and dept_id = #{deptId} </if>
            <if test="parentId != null and parentId != 0"> and parent_id = #{parentId} </if>
        </where>
    </select>

    <select id="checkDeptExistUser" parameterType="integer" resultType="int">
		select count(1) from my_user where dept_id = #{deptId}
	</select>

    <delete id="deleteDeptById" parameterType="integer">
		delete from my_dept where dept_id =#{deptId}
	</delete>
</mapper>
