<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codermy.myspringsecurityplus.log.dao.LogDao">
    <select id="getFuzzyLogByPage" resultType="com.codermy.myspringsecurityplus.log.dto.LogDto">
        SELECT l.user_name,l.ip,l.params,l.description,l.browser,l.time,l.method,l.create_time
        FROM my_log l
        <where>
            <if test="logQuery.logType != null and logQuery.logType  != ''">
                AND l.type = #{logQuery.logType}
            </if>
            <if test="logQuery.userName != null and logQuery.userName != ''">
                AND l.user_name like CONCAT('%', #{logQuery.userName}, '%')
            </if>
        </where>
        ORDER BY l.create_time desc
    </select>

    <select id="getFuzzyErrorLogByPage" resultType="com.codermy.myspringsecurityplus.log.dto.ErrorLogDto">
        SELECT l.user_name,l.ip,l.params,l.description,l.browser,l.exception_detail,l.method,l.create_time
        FROM my_log l
        <where>
            <if test="logQuery.logType != null and logQuery.logType  != ''">
                AND l.type = #{logQuery.logType}
            </if>
            <if test="logQuery.userName != null and logQuery.userName != ''">
                AND l.user_name like CONCAT('%', #{logQuery.userName}, '%')
            </if>
        </where>
        ORDER BY l.create_time desc
    </select>

</mapper>
