<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codermy.myspringsecurityplus.admin.dao.RoleDeptDao">
    <insert id="save">
        insert into my_role_dept(role_id, dept_id) values
        <foreach collection="deptIds" item="deptId"
                 separator=",">
            (#{roleId}, #{deptId})
        </foreach>
    </insert>

</mapper>
