<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codermy.myspringsecurityplus.admin.dao.UserDao">

    <select id="getFuzzyUserByPage" resultType="com.codermy.myspringsecurityplus.admin.entity.MyUser">
        SELECT t.id,t.user_name,t.password,t.nick_name,t.phone,t.email,t.status,t.create_time,t.update_time
        FROM my_user t
        <where>
            <if test="userQueryDto.nickName != null and userQueryDto.nickName != ''">
                AND t.nick_name like CONCAT('%', #{userQueryDto.nickName}, '%')
            </if>
            <if test="userQueryDto.userName != null and userQueryDto.userName != ''">
                AND t.user_name like CONCAT('%', #{userQueryDto.userName}, '%')
            </if>
        </where>
        ORDER BY t.id
    </select>


    <update id="updateUser">
        update my_user t
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = #{updateTime}
        </set>
        where t.id = #{id}
    </update>
</mapper>
