<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>My SpringSecurity Plus</title>
		<!-- 依 赖 样 式 -->
		<link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
		<link rel="stylesheet" th:href="@{/admin/css/load.css}" />
		<link rel="stylesheet" th:href="@{/admin/css/admin.css}" />
		<!-- 主 题 更 换 -->
		<style id="pearadmin-bg-color"></style>
	</head>
	<!-- 结 构 代 码 -->
	<body class="layui-layout-body pear-admin">
		<!-- 布 局 框 架 -->
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<!-- 顶 部 左 侧 功 能 -->
				<ul class="layui-nav layui-layout-left">
					<li class="collaspe layui-nav-item"><a href="#" class="layui-icon layui-icon-shrink-right"></a></li>
					<li class="refresh layui-nav-item"><a href="#" class="layui-icon layui-icon-refresh-1" loading=600></a></li>
				</ul>
				<!-- 顶 部 右 侧 菜 单 -->
				<div id="control" class="layui-layout-control"></div>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item layui-hide-xs"><a href="#" class="fullScreen layui-icon layui-icon-screen-full"></a></li>
					<li class="layui-nav-item layui-hide-xs"><a href="https://gitee.com/witmy/my-springsecurity-plus" class="layui-icon layui-icon-website"></a></li>
					<li class="layui-nav-item" lay-unselect="">
						<a href="javascript:;"><img th:src="@{/admin/images/avatar.jpg}" class="layui-nav-img"><span sec:authentication="principal.MyUser.nickName"/></a>
						<dl class="layui-nav-child">
							<dd><a href="javascript:;" class="pearson">个人信息</a></dd>
							<dd><a href="/logout">注销登陆</a></dd>
						</dl>
					</li>
					<li class="setting layui-nav-item"><a href="#" class="layui-icon layui-icon-more-vertical"></a></li>
				</ul>
			</div>
			<!-- 侧 边 区 域 -->
			<div class="layui-side layui-bg-black">
				<!-- 顶 部 图 标 -->
				<div class="layui-logo">
					<img class="logo" th:src="@{/admin/images/logo.png}" />
					<span class="title">Plus Admin</span>
				</div>
				<!-- 侧 边 菜 单 -->
				<div class="layui-side-scroll">
					<div id="sideMenu"></div>
				</div>
			</div>
			<div class="layui-body">
				<div id="content"></div>
			</div>
		</div>
		<!-- 遮 盖 层 -->
		<div class="pear-cover"></div>
		<!-- 加 载 动 画-->
		<div class="loader-main">
			<div class="loader"></div>
		</div>
		<!-- 依 赖 脚 本 -->
		<script th:src="@{/component/layui/layui.js}"></script>
		<script th:src="@{/component/pear/pear.js}"></script>
		<script>
			layui.use(['admin'], function() {
				var admin = layui.admin;

				admin.render({currentUser:"admin"});
			})
		</script>
	</body>
</html>